[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-restplus = "*"

[scripts]
startup = "python ./src/main.py"

[requires]
python_version = "3.7"
