[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
flask = "*"
flask-restplus = "*"
pytest = "*"
pytest-flask = "*"
configparser = "*"
plexapi = "*"

[scripts]
startup = "python ./src/main.py"
test = "python -m pytest"

[requires]
python_version = "3.7"
